@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

/**
 * typography
 */
$font-family-sans-serif: '"Gothic A1",' + $font-family-sans-serif;
$font-family-serif: 'Noto Serif KR';
$headings-font-family: $font-family-sans-serif;
$font-family-base: $font-family-serif;

/**
 * Colors
 */
$body-bg: $light;

@import "../node_modules/bootstrap/scss/bootstrap";

.container-prose {
  @include make-container();
  @include media-breakpoint-up(md) {
    width: 80%;
    max-width: 800px;
  }
}
.navbar {
  font-family: $headings-font-family;
}
footer {
  a {
    text-decoration: none;
  }
  &.global {
    margin-top: 9rem;
    padding: 1rem 0;
  }
}
.post {
  @include font-size(1.2rem);
  line-height: 1.7;
  &--summary {
    @include font-size(1.1rem);
    line-height: 1.6;
    time {
      @include font-size(.9rem);
    }
  }
}
